body{
    color: white;
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
}

.navegation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(227, 60, 54);
}
.center{
    text-align: center;
}
h1{
    color:rgb(227, 60, 54);
}
h2{
    color: rgb(246, 204, 152);
}
h3{
    color: rgb(196, 128, 13);
}

footer img{
    height: 40px;
    width: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}

.container {
     padding:0px 50px;
    }

nav a:hover{
    color: rgb(227, 60, 54);
}